body {
    background-image: url("background.jpg");
    background-size: cover;
}

.content {
    background-color: rgb(72, 230, 216);
    height: 100%;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 20px;
}

.title {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}

.chat {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(49, 144, 233);
}

div.messages {
    background-color: lightblue;
    height: 350px;
    overflow-y: scroll;
    padding-top: 20px;
    border-radius: 20px;
}

.input {
    margin-top: 20px;
}

.messages {
    text-align: left;
    margin-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
}