body {
    background-image: url("background.jpg");
    background-size: cover;
}

.content {
    background-color: #99ebff;
    height: 100%;
    width: 500px;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 20px;
    z-index: top;
    margin-top: 100px;
}

.form {
    padding: 40px;
    justify-content: center;
    display: grid;
}